<!DOCTYPE html>

<html>
  <head>
      <meta charset="UTF-8">
    <title>
      Polling Officer Work
    </title>
  </head>
    <body>
      <form action='/pollingofficer' method="POST">
          <label>Regid</label>
          <input type="text" name="rid">

          <br>
          <br>
          <br>
          <button type="submit">Check</button>
      </form>
      {% if checked %}
        <p>{{ checked }}</p>
    {% endif %}


    <br>
    <br>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    </body>

  
</html>